# Git
.git
.gitignore

# Python virtual environment
.venv

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/

# Test cache
.pytest_cache/

# Docker ignore file
.dockerignore