# Git
.git
.gitignore

# Python virtual environment
.venv

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE / Editor specific
.vscode/
.idea/
.DS_Store

# Test cache
.pytest_cache/

# Docker ignore file
.dockerignore

# Test caches and reports
.pytest_cache/
htmlcov/
.coverage