# requirements.txt

# --- Core & API ---
fastapi
uvicorn
python-dotenv
typer

# --- LangChain Stack ---
langchain
langchain-community
langchain-openai
openai
tavily-python

# --- Data & DB ---
pandas
SQLAlchemy
psycopg2-binary
pgvector
chromadb

# --- AI & ML ---
sentence-transformers
thefuzz[speedup]

# --- Web Scraping ---
requests
beautifulsoup4

# --- Visualization ---
matplotlib
tabulate